<html lang="en">
    <%- include('../templates/head', {title: 'password reset'}); %>

  <body>
    <%- include('../templates/navbar'); %>

    <form>
      Password Reset Help
      <div class="form-group">
        <label for="exampleInputEmail1">Please enter your email address to reset password</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>

    </form>
  </body>

</html>
