body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 7%;
}

.h1Container {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.datePickerText {
    margin-top: 5%;
    text-align: center;
    height: 20%;
    width: 20%;
    color: white;
    background-color: #f26226;
}

.deliveryForm {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 50%;
}

.confirm {
    width: 100%;
    margin-top: 2%;
    background-color: #f26226;
}

.formField {
    width: 100%;
    margin-top: 2%;
}


/* ORDER CONFIRMATION STYLES */

.thankYou {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

h1 {
    width: 100%;
}

h4 {
    width: 100%;
}
