/********** Style Reference Chart **********
  Colors:
  base color: #f26226
  color 1   : #2ab7ca
  color 2   : #fed766
  color 3   : #e6e6ea
  color 4   : #f4f4f8

  Fonts:
  Lato, Raleway
**********/

html, body {
    height: 100%;
}


/*cover*/

.cover {
    background: #222 url('../assets/images/Dog-Food.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.cover-caption {
    width: 100%;
}

.imgsize {
    width: 520px;
    height: 400px;
}

.target-nav {
    position: fixed;
    padding: 18px;
    z-index: 10000;
}

.opaque {
  transition-delay: 0.1s;
  background-color: #fff;
  box-shadow: 0 -8px 29px 0 rgba(0, 0, 0, 0.5);

}
/*  Register, Login, and Logout Navbar Styling */


/*  LOGIN FORM STYLING  */

.container {
    display: flex;
    justify-content: center;
}

.login-container {
    margin-top: 10%;
}

.login {
    margin-top: 5%;
}

.formField {
    width: 100%;
}


/*  MENU STYLING */

.menuContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.menuHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.menuTitle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menuSubtitle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menuItem {
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

.menuImageContainer {
    display: flex;
    width: 100%;
}

.menuImage {
    width: 80%;
    box-shadow: 5px 5px 2.5px grey;
}

.menuTextContainer {
    width: 80%;
}

.deliveryButton {
    width: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
}


/* End of Menu page styling */

/* Order Page Styling */
.datePickerContainer {
    display: flex;
    justify-content: center;
    background-color: yellow;
}


.datePickerText {
    display: flex;
    width: 140px;
    margin-left: 40%;
    background-color: red;
}

.datePickerLabel {
    width: 125px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: blue;
}

#submitSchedule {
    display: flex;
    background-color: #f26226;
    /*flex-direction:column;*/
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 300px;
    margin-top: 15px;
    text-align: center;
}
