.target-nav {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 -8px 29px 0 rgba(0, 0, 0, 0.5);
    padding: 18px;
    /*border: 10px dashed pink;*/
}


/*  Register, Login, and Logout Navbar Styling */


/*  LOGIN FORM STYLING  */

form {
  position: relative;
  left: 97.5px;
}
.container {
    display: flex;
    justify-content: center;
    width: 551px;
    height: 651px;
    border-radius: 2px;
  	background-color: #ffffff;
  	background-color: var(--white);
  	box-shadow: 0 2px 11px 0 #c9c9c9;
    top: 100px;
}

.login-container {
    margin-top: 10%;
}

.loginstyle {
	width: 116px;
  position: relative;
  left: 100px;
  margin-bottom: 40px;
	height: 52px;
	font-family: Lato;
	font-size: 44px;
	text-align: center;
	color: #000;
	color: var(--black-two);
}
.login {
    margin-top: 5%;
}
.loginbtn {
  position: relative;
  left: -20px;
  margin-top: 5%;
  width: 280px;
  height: 53.2px;
  border-radius: 7px;
  border: 0;
  background: none;
  box-shadow: none;
  color: #fff;
  background-color: #f26226;
}

.formField {
    width: 280px;
    height: 52px;
    border-radius: 2px;
    box-shadow: inset 0 1px 4px 0 rgba(145, 145, 145, 0.5);
    border: solid 1px #979797;
}

.form-check-input {
  width: 29px;
	height: 29px;
	border-radius: 2px;
	border: solid 1px #979797;

}

.passwordstyle,
.emailstyle {
  font-family: 'Lato'
}
.rememberpasswd {
  position: relative;
  top: 03px;
}

.forminputtxt {
  position: relative;
  top: 06px;
  width: 96px;
	height: 17px;
	font-family: 'Lato';
	font-size: 14px;
	color: #a3a3a5;
  height: 17px;
  font-family: 'Lato';
  font-size: 14px;
  color: #a3a3a5;
}

.passwdforgot {
  position: relative;
  top: 06px;
  left: 20%;
  width: 109px;
  height: 17px;
  font-family: 'Lato';
  font-size: 14px;
  color: #424245;
}

.signupfield {
  position: relative;
  /*right: 118px;*/
  right: 100px;
  top: 11px;
  text-align: center;
  font-family: 'Lato';
}

.signmeup {
  position: relative;
  left: 20px;
  color: ##2AB7CA;
}

/* Register Page Styling*/
.getstarted {
  font-family: 'Lato';
  margin-bottom: 40px;
  position: relative;
  left: 95px;
}
.registerbtn {
  position: relative;
  left: 1px;
}
.terms {
  font-family: 'Lato';
  font-size: 12px;
  text-align: center;
  color: #898989;
}
.termstext {
  text-align: center;
  position: relative;
  left: 60px;
}
.termstext1 {
  position: relative;
  left: 20px;
}

.member {
  margin-top: 12px;
  position: relative;
  left: 40px;
}

.tologinpage {
  color: ##2AB7CA;
}

/*  MENU STYLING */

.menuContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.menuHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.menuTitle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menuSubtitle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menuItem {
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

.menuImageContainer {
    display: flex;
    width: 100%;
}

.menuImage {
    width: 80%;
    box-shadow: 5px 5px 2.5px grey;
}

.menuTextContainer {
    width: 80%;
}

.deliveryButton {
    width: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
}


/* End of Menu page styling */


/* Order Page Styling */

.datePickerContainer {
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.datePickerText {
    display: flex;
    width: 140px;
    margin-left: 40%;
    background-color: red;
}

.datePickerLabel {
    width: 125px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: blue;
}

#submitSchedule {
    display: flex;
    background-color: #f26226;
    /*flex-direction:column;*/
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 300px;
    margin-top: 15px;
    text-align: center;
}

*/
