/********** Style Reference Chart **********
  Colors:
  base color: #f26226
  color 1   : #2ab7ca
  color 2   : #fed766
  color 3   : #e6e6ea
  color 4   : #f4f4f8

  Fonts:
  Lato, Raleway
**********/

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: black;
}

h1 {
  font-weight: 700;
}

section {
  text-align: center;
}

.bowWow {
  margin-top: 250px;
}

.btn-custom {
  background-color: #FF5202;
  border-color: #FF5202;
  color: black;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active {
  background-color: #e84900;
  border-color: #ce4100;
  color: white;
}

.btn-custom.disabled:hover, .btn-custom.disabled:focus, .btn-custom.disabled:active, .btn-custom.disabled.active, .btn-custom[disabled]:hover, .btn-custom[disabled]:focus, .btn-custom[disabled]:active, .btn-custom[disabled].active, fieldset[disabled] .btn-custom:hover, fieldset[disabled] .btn-custom:focus, fieldset[disabled] .btn-custom:active, fieldset[disabled] .btn-custom.active {
  background-color: #FF5202;
  border-color: #FF5202;
}

.container {
  width: 100vw;
  margin: 0px;
}

.cover {
  background: #222 url('../assets/images/Dog-Food.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.getStarted {
  margin-top: 100px;
  margin-bottom: 50px;
}

.hideme {
  opacity: 0;
  transition: all ease 0.8s;
}

.imgsize {
  width: 520px;
  height: 400px;
}

.opaque {
  transition-delay: 0.1s;
  background-color: #fff;
  box-shadow: 0 -8px 29px 0 rgba(0, 0, 0, 0.5);
  transition: background-color 0.1s ease 0s;
}

.showme {
  opacity: 1;
}

.step1 {
  margin-top: 30px;
  margin-right: 30vw;
}

.step2 {
  margin-top: 30px;
  margin-left: 30vw;
}

.step3 {
  margin-top: 30px;
  margin-right: 30vw;
}

.target-nav {
  position: fixed;
  padding: 18px;
  z-index: 10000;
  transition: background-color 0.1s ease 0s;
}
