<nav class="navbar navbar-toggleable-md navbar-light navigation sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%# Brand  %>
  <a class="navbar-brand" href="/">Bow Wow Where's My Chow?</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <%# Links %>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/menu_items">Menu</a>
      <a class="nav-item nav-link go-right" href="/login">Login</a>
      <a class="nav-item nav-link go-right" href="/register">Sign Up</a>
    </div>
  </div>
</nav>
