.navbar-login-text {
    position: absolute;
    right: 40px;
}


/*  LOGIN FORM STYLING  */

.container {
    display: flex;
    justify-content: center;
}

.login-container {
    margin-top: 10%;
}

.login {
    margin-top: 5%;
}

.formField {
    width: 100%;
}
