/*  Register, Login, and Logout Navbar Styling */

.userOptions {
    margin-left: 95vh;
    display: flex;
}


/*  LOGIN FORM STYLING  */

.container {
    display: flex;
    justify-content: center;
}

.login-container {
    margin-top: 10%;
}

.login {
    margin-top: 5%;
}

.formField {
    width: 100%;
}
