<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/head', {title: 'HOME PAGE'}); %>
<body>
  <%- include('../templates/navbar'); %>
  <div class="bg">
    <img src="../assets/images/splash.jpg" alt="">
  </div>

  <main>
    <section>
      <h1>BOW WOW Where's My Chow?</h1>
      <h2>How does it work?</h2>
    </section>

    <section>
      <p>Step 1: Select your order</p>
      <img src="../assets/images/story2.png">

      <img src="../assets/images/story4.png" alt="">
      <p>Step 2: Pick a Delivery Date</p>

      <p>Step 3: Enjoy treating your dog to the good life!</p>
      <img src="../assets/images/story3.png" alt="">


      <button type="button" name="button" class="btn"><a href="/menu_items">Get Started</a></button>

    </section>
  </main>
</body>
</html>
