<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Order Delivery</title>
    <%# Google Fonts%>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP DATE PICKER -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/stylesheet.css">
    <!-- MY JS -->
    <script src="/js/home.js" charset="utf-8"></script>
</head>
<body class="container">
  <!-- NAV -->
  <nav class="navbar target-nav navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bow Wow Where's My Chow?</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="nav-item nav-link" href="/menu_items">Menu</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- END OF NAV -->

  <!-- HERO SECTION -->
  <section class="row cover">
        <h1 class="col-xs-12 bowWow">Bow Wow</h1>
        <h1 class="col-xs-12">Where's My Chow?</h1>
        <h2 class="col-xs-12">Quality Dog Food from Our Door to You</h2>
  </section>

  <!-- HOW IT WORKS SECTION -->
  <section class="row">
    <h2 class="col-xs-12 animated hideme">How does it work?</h2>

    <!-- STEP ONE -->
    <div class="row animated hideme step1" id="step-one">
      <h3 class="col-xs-12">Step 1: Select your order</h3>
      <img src="../assets/images/story2.png" class="imgsize">
    </div>

    <!-- STEP TWO -->
    <div class="row animated hideme step2" id="step-two">
      <h3 class="col-xs-12">Step 2: Pick a Delivery Date</h3>
      <img src="../assets/images/story4.png" class="imgsize">
    </div>

    <!-- STEP THREE -->
    <div class="row animated hideme step3" id="step-three">
      <h3 class="col-xs-12">Step 3: Treat your dog to the good life!</h3>
      <img src="../assets/images/story3.png" class="imgsize">
    </div>

    <a href="/menu_items" class="btn btn-custom btn-lg getStarted" role="btn" style="background-color:rgb(242,98,38)">Get Started</a>
  </section>

</body>
</html>
