<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/head', {title: 'HOME PAGE'}); %>
<body>
  <%- include('../templates/navbar'); %>
  <div class="bg">
    <img src="../assets/images/splash.jpg" alt="">
  </div>
</body>
</html>
