<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/head', {title: 'HOME PAGE'}); %>
<body>
  <%- include('../templates/navbar'); %>
  <div class="bg">
    <img src="./public/assets/images" alt="A dog eating some good food">
  </div>
</body>
</html>
