<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/head', {title: 'HOME PAGE'}); %>
<body>

  <%- include('../templates/navbar'); %>

    <section class="cover" >
      <div class="cover-caption">
        <div class="container">
          <div class="col-sm-10 col-sm-offset-1">
          <h1 class="display-2">Bow Wow</h1>
          <h1 class="display-2">Where's My Chow?</h1>
          <h2>Quality Dog Food from Our Door to You</h2>

          <br>

          <a href="nav-main" class="btn btn-secondary-outline btn-sm" role="button">&darr;</a>
          </div>
        </div>
      </div>
    </section>



    <section>
      <div class="cover-caption">
        <div class="container">
          <div class="col">
            <h2 class="display-2 caption animated fadeInDown">How does it work?</h2>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />


            <div class="row animated fadeInLeft step-one">
              <div class="col">
                <p >Step 1: Select your order</p>
              </div>
              <div class="col">
                <img src="../assets/images/story2.png" class="imgsize">
              </div>
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <div class="row animated fadeInRight">
              <div class="col">
                <img src="../assets/images/story4.png" class="imgsize">
              </div>
              <div class="col">
                <p>Step 2: Pick a Delivery Date</p>
              </div>
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <div class="row animated fadeInLeft">
              <div class="col">
                <p>Step 3: Enjoy treating your dog to the good life!</p>
              </div>
              <div class="col">
                <img src="../assets/images/story3.png" class="imgsize">
              </div>
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <div class="row">
              <div class="col">
                <a href="/menu_items" class="btn btn-primary btn-lg" role="btn" style="background-color:rgb(242,98,38)">Get Started</a>
              </div>
            </div>

          </div>
        </div>

      </div>

    </section>

</body>
</html>
