<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../templates/home_head'); %>
<body class="container">
  <!-- NAV -->
  <%- include('../templates/home_nav'); %>

  <!-- HERO SECTION -->
  <section class="row cover">
        <h1 class="col-xs-12 bowWow">Bow Wow</h1>
        <h1 class="col-xs-12">Where's My Chow?</h1>
        <h2 class="col-xs-12">Quality Dog Food from Our Door to You</h2>
  </section>

  <!-- HOW IT WORKS SECTION -->
  <section class="row">
    <h2 class="col-xs-12 animated hideme">How does it work?</h2>

    <!-- STEP ONE -->
    <div class="row animated hideme step1" id="step-one">
      <h3 class="col-xs-12">Step 1: Select your order</h3>
      <img src="../assets/images/story2.png" class="imgsize">
    </div>

    <!-- STEP TWO -->
    <div class="row animated hideme step2" id="step-two">
      <h3 class="col-xs-12">Step 2: Pick a Delivery Date</h3>
      <img src="../assets/images/story4.png" class="imgsize">
    </div>

    <!-- STEP THREE -->
    <div class="row animated hideme step3" id="step-three">
      <h3 class="col-xs-12">Step 3: Treat your dog to the good life!</h3>
      <img src="../assets/images/story3.png" class="imgsize">
    </div>

    <a href="/menu_items" class="btn btn-custom btn-lg getStarted" role="btn" style="background-color:rgb(242,98,38)">Get Started</a>
  </section>

</body>
</html>
