<!DOCTYPE html>
<html lang="en">
    <%- include('../templates/orders', {title: 'Your Orders'}); %>

        <body>
            <%- include('../templates/navbar'); %>

                <form name="deleteOrder"  method="POST" action="/orders/:id?_method=DELETE">
                  <h1>Delete Order</h1>
                  <p>
                    <label for="deleteOrder">Order ID</label>
                    <input type="text" id="id" placeholder="Order ID" name="order[id]" autofocus/>
                  </p>
              		<p>
              			<button type="submit">Delete Order</button>
              		</p>

                </form>
        </body>

</html>
