<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../templates/order_pay_head'); %>

  <body class="container">
    <!-- NAV -->
    <%- include('../templates/cart_nav'); %>

    <!-- CART MODAL -->
    <%- include('../templates/cart_modal'); %>

    <div class="h1Container row">
      <h1>Schedule Delivery</h1>
    </div>

    <form class="row" action="/orders/order_confirmation" method="GET">
       <input class="datePickerText col-xs-12 col-md-8 col-md-offset-2" id="dateText" name="date" value="Select a delivery date" type="text"/>
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" type="text" name="delivery[name]" placeholder="Name">
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" type="text" name="delivery[email]" placeholder="Email">
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" type="text" name="delivery[address]" placeholder="Street Address">
       <input class="formField col-xs-12 col-md-8 col-md-offset-2"type="text" name="delivery[city]" placeholder="City">
       <input class="formField col-xs-12 col-md-8 col-md-offset-2"type="text" name="delivery[state]" placeholder="State">
       <input class="formField col-xs-12 col-md-8 col-md-offset-2"type="text" name="delivery[zip]" placeholder="Zip Code">
       <input id="submitSchedule" type="submit" class="btn btn-custom btn-lg confirm col-xs-12 col-md-8 col-md-offset-2" value="Submit Order" onclick="sendOrderToRoute()"></button>
    </form>
    
    <button class="row center-block" id="test">Order Test Button</button>

  </body>
</html>
