<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <head>
      <meta charset="utf-8">
      <title>
          <%= title %>
      </title>
      <!-- Bootstrap -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link rel="stylesheet" href="/css/delivery.css">
      <script type="text/javascript" src="/js/confirmation.js"></script>
  </head>
  <body class="container">
    <!-- NAV -->
    <%- include('../templates/logged_in_not_home_nav'); %>
      <div class="row">
        <img class="img-responsive center-block check" src="http://www.clipartbest.com/cliparts/dT7/ogx/dT7ogxo8c.jpg" alt="Picture of a check mark">
          <div class="row">
              <h1 class="col-xs-6 col-xs-offset-3">Your order is on it's way!</h1>
              <h4 class="col-xs-6 col-xs-offset-3">Confirmation #: 5098154</h4>
              <h4 class="col-xs-6 col-xs-offset-3">Order date: 4/21/17</h4>
              <h4 class="col-xs-6 col-xs-offset-3">Delivery date: 4/26/17</h4>
              <h4 class="col-xs-6 col-xs-offset-3">Delivery address: 1965 Matilda St. Dallas, Tx 75206</h4>
          </div>
      </div>
  </body>
</html>
