<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../templates/order_pay_head'); %>

  <body class="container">
    <!-- NAV -->
    <%- include('../templates/cart_nav'); %>

    <!-- CART MODAL -->
    <%- include('../templates/cart_modal'); %>

    <div class="h1Container row">
      <h1>Schedule Delivery</h1>
    </div>

    <form class="row" id="needs-validation" method="GET">
       <input class="datePickerText col-xs-12 col-md-8 col-md-offset-2" id="dateText" name="date" placeholder="Select a delivery date" type="text" required/>
        <div id="calendarError">
          Please select a date from the calendar.
        </div>
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" id="name" type="text" name="delivery[name]" placeholder="Name" required>
         <div id="nameError">
           Please enter your first and last name.
         </div>
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" id="email" name="delivery[email]" placeholder="Email" required>
         <div id="emailError">
           Please enter a valid email address.
         </div>
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" id="address" type="text" name="delivery[address]" placeholder="Street Address" required>
         <div id="addressError">
           Please enter your shipping address.
         </div>
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" id="city" type="text" name="delivery[city]" placeholder="City" required>
         <div id="cityError">
           Please enter your city.
         </div>
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" id="state" type="text" name="delivery[state]" placeholder="State" required>
         <div id="stateError">
           Please enter your state.
         </div>
       <input class="formField col-xs-12 col-md-8 col-md-offset-2" id="zip" type="text" name="delivery[zip]" placeholder="Zip Code" required>
         <div id="zipError">
           Please enter your zip code.
         </div>
       <button id="submitSchedule" type="submit" class="btn btn-custom btn-lg confirm col-xs-12 col-md-8 col-md-offset-2">Submit Order</button>
    </form>

    <button class="row center-block" id="test">Order Test Button</button>
  </body>
</html>
