<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Order Delivery</title>
      <!-- Bootstrap -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
      <%# Google Fonts%>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <%# Stylesheet%>
      <link rel="stylesheet" href="/css/menu.css">
      <script type="text/javascript" src="/js/order_pay.js"></script>
  </head>

  <body class="container">
      <%- include('../templates/logged_in_not_home_nav'); %>
      <!-- CART MODAL -->
      <div class="modal fade cart-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel">Order Summary</h4>
            </div>
            <div class="modal-body">
              <table id="cart">
                <tr>
                  <th class="cartHeader">Item:</th>
                  <th class="cartHeader">Price:</th>
                  <th>Quantity:</th>
                </tr>
              </table>
              <table class="subTotalTable">
                <tr>
                  <th class="subTotalHeader">Subtotal</th>
                  <td id="subTotal">$0.00</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-custom">Save changes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /CART modal -->

      <div class="h1Container row">
        <h1>Schedule Delivery</h1>
      </div>
      <form class="row" action="/orders/order_confirmation" method="GET">
         <input class="datePickerText col-xs-8 col-xs-offset-2" id="dateText" name="date" value="Select a delivery date" type="text"/>
         <input class="formField col-xs-8 col-xs-offset-2" type="text" placeholder="Name">
         <input class="formField col-xs-8 col-xs-offset-2" type="text" placeholder="Street Address">
         <input class="formField col-xs-8 col-xs-offset-2"type="text" placeholder="City">
         <input class="formField col-xs-8 col-xs-offset-2"type="text" placeholder="State">
         <input class="formField col-xs-8 col-xs-offset-2"type="text" placeholder="Zip Code">
         <input id="submitSchedule" type="submit" class="btn btn-custom btn-lg confirm col-xs-12 col-md-4 col-md-offset-4" value="Submit Order" onclick="sendOrderToRoute()"></button>
      </form>
  </body>
</html>
