<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
<%- include('../templates/confirmation_head'); %>

  <body class="container">
    <!-- NAV -->
    <%- include('../templates/home_nav'); %>
      <div class="row">
        <img class="img-responsive center-block check" src="http://www.clipartbest.com/cliparts/dT7/ogx/dT7ogxo8c.jpg" alt="Picture of a check mark">
          <div class="row orderInfo">
              <h1 class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">Your order is on it's way!</h1>
          </div>
      </div>
  </body>
</html>
