<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <%- include('../templates/orders', {title: 'Your Orders'}); %>
=======
>>>>>>> adds styling to the delivery page
  <head>
    <head>
        <meta charset="utf-8">
        <title>Order Delivery</title>
        <%# Bootstrap 4.0%>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
        <%# Google Fonts%>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <%# Stylesheet%>
        <link rel="stylesheet" href="/css/delivery.css">
    </head>
      <script>

          var todaysDate = new Date();


          $(document).ready(function(){
            var date_input=$('input[name="date"]'); //our date input has the name "date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
              format: 'mm/dd/yyyy',
              container: container,
              todayHighlight: true,
              autoclose: true,
              daysOfWeekDisabled: [0, 6],
              startDate: todaysDate,
            };
            date_input.datepicker(options);
          });
      </script>
      <script>
      $(document).ready(function () {
          $('.recurrenceDD').hide();
          $('#recurringCB').click(function () {
            console.log('recurrenceCB clicked')
              $( ".recurrenceDD" ).show( "slow", function() {
              });
          });
      });
      </script>

      <script>
      //The action for the submit button
      //Gathers the schedule date and the status of the recurring delivery
      //checkbox and the value of the schedule dropdown
      function sendOrderToRoute(){
            var schedDate = $('.datePickerText').val();
            //var recurring = $('#recurringCB')[0].checked;
            //var ddVal = $('#recurrenceDD :selected').text();

            if(!schedDate){
              alert("Please schedule a delivery date");
            }
            console.log("Local Storage.cart", JSON.parse(localStorage.cart))

            var order = {
              'menuItemID': JSON.parse(localStorage.cart)[0].id,
              'quantity': JSON.parse(localStorage.cart)[0].quantity,
              'item_price': JSON.parse(localStorage.cart)[0].item_price,
              'schedDate': schedDate//,
              //'recurring': recurring,
              //'frequency': ddVal
            };

            console.log('view order = ', order);

            //ajax call to the appropriate route
            var request = $.ajax({
              url: "http://localhost:3000/orders",
              method: "POST",
              data: order,
              dataType: "json"
            });
          };
      </script>
  </head>

  <header>
    <%- include('../templates/navbar'); %>
  </header>

  <body>
      <div class="h1Container">
        <h1>Schedule Delivery</h1>
      </div>
        <form class="deliveryForm" action="">
          <input class="datePickerText" id="dateText" name="date" value="Select a delivery date" type="text"/>
           <input class="formField" type="text" placeholder="Name">
           <input class="formField" type="text" placeholder="Street Address">
           <input class="formField"type="text" placeholder="State">
           <input class="formField"type="text" placeholder="City">
           <input class="formField"type="text" placeholder="Zip Code">
           <input id="submitSchedule" type="button" class="btn btn-primary btn-lg confirm" value="Submit Order" onclick="sendOrderToRoute()"></button>
        </form>
  </body>
</html>
