<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/orders', {title: 'Order Confirmation'}); %>
  <body>
      <%- include('../templates/navbar'); %>
      <div class="thankYou">
      <h1>Thank you for your order!</h1>
      <h4>Confirmation #: 5098154</h4>
      <h4>Order date: 4/21/17</h4>
      <h4>Delivery date: 4/26/17</h4>
      <h4>Delivery address: 1965 Matilda St. Dallas, Tx 75206</h4>


      </div>


  </body>
</html>
