<!DOCTYPE html>
<html lang="en">
    <%- include('../templates/head', {title: 'USERS'}); %>

        <body>
            <%- include('../templates/navbar'); %>

                <h1>Account Deletion Page</h1>

                <div>
                    <ul>Was your dog getting a little too husky? We understand. Our food is LABsolutely amazing.</ul>
                </div>
